<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <!-- sr-only para ficar escondendo o label na tela -->
        <label class="sr-only" for="room-id">Código da sala</label>
        <input
            id="room-pass"
            type="password"
            name="password"
            placeholder="Insira uma senha"
        />
        <button class="button"> 
            <img src="images/users-white.svg" alt="Entra na sala ícone" />
            Criar sala
        </button>

    </form>
</section>